<div></div>
<div #map class='map' [ngClass]="{'hidden': !showMap}"></div>
<div class="map-buttons">
  <input type="text" #placeSearch placeholder="Type to search.">
  <div class='error-text' *ngIf="error" [innerHTML]="error"></div>
  <div class='slider-prefix'>within (miles)</div>
  <div class='slider'>
    <input type="range" min="5" max="50" step="5" [(ngModel)]='searchDistance' placeholder="Enter a search range in miles">
    <div class='slider-text' [innerHTML]="searchDistance"></div>
  </div>
  <button type="button" (click)="search()">Find Stores</button>
</div>

<div class="location-list" *ngIf="stores">
  <div class="location" *ngFor="let store of stores">
    <div class="location-name" [innerHTML]="store.name"></div>
    <div class="location-address"> {{store.address}}, {{store.City}}, {{store.State}}, {{store.Postcode}}</div>
    <div class="location-phone" [innerHTML]="store.phoneNumber"></div>
    <div class="location-distance" [innerHTML]="store.distance.toFixed(2) + ' Miles away'"></div>
    <hr>
  </div>
</div>